[include mainsail.cfg]
#beta
# This file contains common pin mappings for the Fysetc Spider board.
# To use this config, the firmware should be compiled for the STM32F446.
# When calling "menuconfig", enable "extra low-level configuration setup"
# and select the "12MHz crystal" as clock reference
# For flashing, write the compiled klipper.bin to memory location 0x08000000

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON2 250/300/350mm Spider TMC2209 UART config
  
[mcu]
canbus_uuid: 396b3eb70b59

[mcu EBBCan]
#canbus_uuid: d5cd71617aaf
canbus_uuid: 11ea0e525d5e

[adxl345]
cs_pin: EBBCan:PB12
spi_software_sclk_pin: EBBCan:PB10
spi_software_mosi_pin: EBBCan:PB11
spi_software_miso_pin: EBBCan:PB2
axes_map: z,-y,x

[resonance_tester]
probe_points: 100, 100, 20
accel_chip: adxl345

 

[printer]
kinematics: corexy
max_velocity: 1000    		
max_accel: 3500 #12000	 	
#max_accel_to_decel: 3500	
max_z_velocity: 10			
max_z_accel: 350			
square_corner_velocity: 5


#####################################################################
#	Probe
#####################################################################
[safe_z_home]
home_xy_position: 125, 125 # Change coordinates to the center of your print bed
speed: 100
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
##	Z_MAX on mcu_z
##	If your probe is NO instead of NC, add change pin to !z:P0.10
pin:      EBBCan:PB6 #PB14 # ^PA3  
#z_offset: -0.45

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  A Stepper - Right
##  Connected to Y-MOT / M2
[stepper_x]
step_pin: PG15
dir_pin: PB3
enable_pin: !PD5
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200 # 200  #set to 400 for 0.9 degree stepper
endstop_pin:  PF0 # ^PA2
position_min: 0
##--------------------------------------------------------------------
##  Uncomment for 250mm build
position_endstop: 251
position_max: 251
##--------------------------------------------------------------------
homing_speed: 50  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PG9
#diag_pin: PF2
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
 
##  B Stepper - Left
##  Connected to X-MOT / M1
[stepper_y]
step_pin: PD3
dir_pin: PD2
enable_pin: !PD4
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200 # 200  #set to 400 for 0.9 degree stepper
endstop_pin: PF2 # ^PA1
position_min: 0
##--------------------------------------------------------------------
##  Uncomment below for 250mm build
position_endstop: 255
position_max: 255
 

##--------------------------------------------------------------------
homing_speed: 50   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD7
#diag_pin: PF0
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

##  Z0 Stepper - Left
##  Connected to E1-MOT / M5 
[stepper_z]

step_pin: PC13
dir_pin: !PC14 # PC13
enable_pin: !PE6
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 2    
microsteps: 32
#endstop_pin: PA0 # ^PA0
endstop_pin: probe:z_virtual_endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
## All builds use same Max Z
position_max: 230
position_min: -10.0
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin:  PG11 #PC15
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear

##  Connected to E1-MOT / M5
[stepper_z1]
step_pin: PE4
dir_pin: PE5 # PC4
enable_pin: !PE3

# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 2
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PG14 #PC14
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
##  Make sure to update below for your relevant driver (2208 or 2209)

##  Z2 Stepper - Right 
##  Connected to E2-MOT / M6
[stepper_z2]
step_pin: PB8
dir_pin:  !PB9 #!PE4
enable_pin: !PB7
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 2
microsteps: 32


[tmc2209 stepper_z2]
uart_pin: PG13 #PD15
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

#   Connected to E0-MOT / M4
#   Heater - E0-OUT
#   Thermistor - TE0
[extruder]

#SB2240
#step_pin :  EBBCan:PD0  ##step_pin: PB5
#dir_pin:  EBBCan:PD1   ##dir_pin: PB4
#enable_pin:   !EBBCan:PD2  ##enable_pin: !PB6
step_pin :   PB5
dir_pin:    !PB4
enable_pin:     !PB6



max_extrude_only_distance:750
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance:  22.6789511   #Bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 16 # 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin:    EBBCan:PB13 # PF6
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options

#rapido pt1000
#sensor_type:    MAX31865 #  ATC Semitec 104GT-2
#sensor_pin:  EBBCan:PA4 #   EBBCan:PA3 #  EBBCan:PA3 #PB0
#spi_bus:spi1
#rtd_nominal_r : 100
#rtd_reference_r : 430
#rtd_num_of_wires : 2

#Dragon 104
sensor_type:       ATC Semitec 104GT-2
sensor_pin:     EBBCan:PA3 #  EBBCan:PA3 #PB0



min_temp: 0
max_temp: 300
max_power:  1.0
min_extrude_temp: 150
#control: pid

#pid_kp =  17.918
#pid_ki =  1.004
#pid_kd = 79.965

#pid_Kp=19.495
#pid_Ki=0.985 
#pid_Kd=96.509

##  Try to keep pressure_advance below 1.0
#pressure_advance: 0.030
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040

##  E0 on E0-MOT / M4
##  Make sure to update below for your relevant driver (2208 or 2209)

#ebbcan
#[tmc2240  extruder]
#uart_pin:   EBBCan:PA15 #PG10
#interpolate: false
#run_current:  0.650 #1.2 #0.5
#hold_current: 0.3
#sense_resistor: 0.110
#stealthchop_threshold: 999999 #0

 
#cs_pin: EBBCan:PA15
#spi_software_sclk_pin: EBBCan: PB10
##spi_software_mosi_pin: EBBCan: PB11
#spi_software_miso_pin: EBBCan: PB2
#driver_TPFD: 0
#run_current: 0.7 #  0.35
#stealthchop_threshold: 999999

#EZ MAX 2209
[tmc2209 extruder]
uart_pin: PG10
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PF5
sensor_type: NTC 100K MGB18-104F39050L32
#sensor_pin: PC3 # Spider v1.x TB Position
sensor_pin: PB1 # Spider v2.x TB Position
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 1.0
min_temp: 10
max_temp: 150
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769




#####################################################################
#	Bltouch
#####################################################################
 

#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
pin:    EBBCan:PA0 #PA6 # Spider v2.x
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 0.8

[fan]
##	Print Cooling Fan - FAN1 Connector
pin:     EBBCan:PA1 #PA5 # Spider v2.x
max_power: 1.0
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

#[output_pin led_pin]
#pin: PE9
#value: 1
#shutdown_value: 1
#maximum_mcu_duration: 5

#pi fan
[output_pin fan1_pin]
pin: PA6
value: 1
shutdown_value: 1
#maximum_mcu_duration: 5

#inner filter
[output_pin fan2_pin]
pin: PA5
value: 1
shutdown_value: 1
#maximum_mcu_duration: 5


[output_pin fan3_pin]
pin: PA1
value: 1
shutdown_value: 1
#maximum_mcu_duration: 5


[output_pin fan4_pin]
pin: PF8
value: 1
shutdown_value: 1
#maximum_mcu_duration: 5

 
#####################################################################
#	LED Control
#####################################################################

#[output_pin caselight ]
##  Chamber Lighting - In 5V-RGB Position
#pin: PD3
#pwm: true
#shutdown_value: 0
#value:100
#cycle_time: 0.01

#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800
 
   
##网床调平
[bed_mesh]
speed: 500      
horizontal_move_z: 0.8
mesh_min: 10,10    
mesh_max: 240, 240  
probe_count: 7,7   
mesh_pps: 2,2   
algorithm: bicubic   
bicubic_tension: 0.2   
##relative_reference_index: 12
zero_reference_position: 125,125


[z_tilt]
##	Use Z_TILT_ADJUST to level the bed left to right.
##	z_positions: Location of toolhead

##--------------------------------------------------------------------
## Uncomment below for 250mm build
z_positions:
	-46, 20
	125, 313
	296, 20
points:
	30, 5
	125, 195
	220, 5
 
  
##--------------------------------------------------------------------

speed: 200
horizontal_move_z: 20
retries: 5
retry_tolerance: 0.05



 
[virtual_sdcard]

path: /home/pi/printer_data/gcodes

#####################################################################
#    Includes
#####################################################################

[include stealthburner_leds.cfg]

[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/addons/mmu_erec_cutter.cfg]
 


[verify_heater heater_bed]
max_error:  120
check_gain_time: 20
 
#####################################################################
#	Displays
#####################################################################

#--------------------------------------------------------------------
 
#[neopixel fysetc_mini12864]
#	To control Neopixel RGB in mini12864 display
#pin: PE10 # EBBCan:gpio16 # PC12
##chain_count: 3
#initial_RED: 0.1
#initial_GREEN: 0.5
#initial_BLUE: 0.0
#color_order: RGB

#	Set RGB values on boot up for each Neopixel. 
#	Index 1 = display, Index 2 and 3 = Knob
#[delayed_gcode setdisplayneopixel]
#initial_duration: 1
#gcode:
#        SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 

#--------------------------------------------------------------------
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor EBBCan]
sensor_pin: EBBCan:PA2
sensor_type: Generic 3950
min_temp: -273
max_temp: 200


[temperature_fan chamber]
pin: PA4
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
cycle_time:0.01
off_below:0.1
sensor_type: EPCOS 100K B57560G104F 
sensor_pin:  PC5
min_temp: 0
max_temp: 70
target_temp: 49.0 # 55.0
control: watermark
gcode_id: C

 

[temperature_fan mcu]
pin: PA3
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
cycle_time:0.01
off_below:0.1
sensor_type: temperature_mcu
#sensor_pin:  mcu_temp
min_temp: 0
max_temp: 70
target_temp: 40.0
control: watermark
gcode_id: D

#[filament_switch_sensor toolhead_sensor]
#switch_pin: !EBBCan:gpio24
#ause_on_runout: False


#[filament_switch_sensor runout_sensor]。
#pause_on_runout: True
#   當設定為 "True "時，會在檢測到耗盡后立即暫停印表機。
#   請注意, 如果 pause_on_runout 為 False 並且沒有定義。
#   runout_gcode的話, 耗盡檢測將被禁用。
#   預設為 True。
#runout_gcode:

#   在檢測到耗材耗盡後會執行的G程式碼命令列表。
#   有關G-Code 格式請見 docs/Command_Templates.md。
#   如果 pause_on_runout 被設定為 True，這個G-Code將在
#   暫停后執行。
#   預設情況是不執行任何 G-Code 命令。
#insert_gcode:

#   在檢測到耗材插入後會執行的 G-Code 命令列表。
#   關於G程式碼格式，請參見 docs/Command_Templates.md。
#   預設不執行任何 G-Code 命令，這將禁用耗材插入檢測。
#event_delay: 3.0
#   事件之間的最小延遲時間（秒）。
#   在這個時間段內觸發的事件將被默許忽略。
#   預設為3秒。
#pause_delay: 0.5
#   暫停命令和執行 runout_gcode 之間的延遲時間, 單位是秒。
#   如果在OctoPrint的情況下，增加這個延遲可能改善暫
#   停的可靠性。如果OctoPrint表現出奇怪的暫停行為，
#   考慮增加這個延遲。
#   預設為0.5秒。
#switch_pin: !PF10
#   連線到檢測開關的引腳。
#   必須提供此參數。




[skew_correction]


[gcode_arcs]
#resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[respond]
#default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "!! "
#default_prefix: echo:
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".

# Cancel object (aka Marlin/RRF M486 commands) support
#
# Enable object exclusion
[exclude_object]

#####################################################################
#	Macros
#####################################################################
[include macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 49.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 38.8
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.035002, -0.023435, -0.033748, -0.023123, -0.033748, -0.016248, 0.048752
#*# 	0.043752, -0.013748, 0.000940, -0.009998, -0.007185, 0.013440, 0.093440
#*# 	0.045315, -0.007810, -0.007185, -0.004373, 0.005002, 0.022815, 0.084065
#*# 	0.051877, -0.005935, -0.010623, 0.000002, -0.004998, 0.026252, 0.084690
#*# 	0.043752, -0.005935, -0.001248, -0.007810, -0.006873, 0.032815, 0.079377
#*# 	0.030002, -0.040310, -0.047185, -0.034685, -0.040623, 0.005627, 0.046877
#*# 	0.033127, -0.017810, -0.025623, -0.014998, -0.023435, 0.011877, 0.057815
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 239.98
#*# min_y = 10.0
#*# max_y = 239.97999999999996
#*#
#*# [probe]
#*# z_offset = -1.490
#*#
#*# [skew_correction default]
#*# xy_skew = 0.0014204563159195926
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.291
#*# pid_ki = 3.313
#*# pid_kd = 88.733
